<mat-stepper
  class="example-stepper"
  [linear]="true"
  (selectionChange)="onStepChanged($event)"
>
  <mat-step [stepControl]="userFormGroup" label="Login & password">
    <form [formGroup]="userFormGroup" class="d-flex flex-column">
      <mat-form-field appearance="fill">
        <mat-label>Login</mat-label>
        <input matInput type="email" formControlName="username" required />
        <mat-hint>Login must be a valid email</mat-hint>
        <mat-error *ngIf="userFormGroup.controls.username.hasError('email')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="userFormGroup.controls.username.hasError('required')">
          Login is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required />
        <mat-hint>
          Password must contain min 1 digit and min 1 uppercase letter
        </mat-hint>
        <mat-error *ngIf="userFormGroup.controls.password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="userFormGroup.controls.password.hasError('pattern')">
          Password must contain min 1 digit and min 1 uppercase letter
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm password</mat-label>
        <input matInput type="password" formControlName="confirm" required />
        <mat-hint>Confirm password must be the same with password</mat-hint>
        <mat-error *ngIf="userFormGroup.controls.confirm.hasError('required')">
          Confirm is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="userFormGroup.controls.confirm.hasError('confirm')">
          Confirm password must be the same with password
        </mat-error>
      </mat-form-field>
      <mat-checkbox class="example-margin" formControlName="agree"
        >Agree to work for food</mat-checkbox
      >
      <div>
        <button
          mat-raised-button
          color="primary"
          [disabled]="userFormGroup.invalid"
          matStepperNext
        >
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="addressFormGroup" label="Address">
    <form [formGroup]="addressFormGroup" class="d-flex flex-column">
      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <mat-select formControlName="country" required>
          <mat-option>--</mat-option>
          <mat-option
            *ngFor="let country of countries$ | async"
            [value]="country"
          >
            {{ country.name }}
          </mat-option>
        </mat-select>
        <mat-hint>Country is a required field</mat-hint>
        <mat-error
          *ngIf="addressFormGroup.controls.country.hasError('required')"
        >
          Country is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Province</mat-label>
        <mat-select formControlName="province" required>
          <mat-option>--</mat-option>
          <mat-option
            *ngFor="let province of provinces$ | async"
            [value]="province"
          >
            {{ province.name }}
          </mat-option>
        </mat-select>
        <mat-hint>Province is a required field</mat-hint>
        <mat-error
          *ngIf="addressFormGroup.controls.province.hasError('required')"
        >
          Province is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button
          mat-raised-button
          color="primary"
          [disabled]="addressFormGroup.invalid"
          matStepperNext
        >
          Save
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p *ngIf="isSuccessfull">You are now done.</p>
    <p *ngIf="!isSuccessfull">Something went wrong!</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-stepper>
